# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# intermediate video processing files
public/Kremlin_VHS_Loop_Generation.mp4
public/Kremlin_VHS_Loop_Slow.mp4
public/Moscow_VHS_Loop_Cropped.mp4
public/Moscow_VHS_Loop_Generation.mp4
public/Moscow_VHS_Loop_Slow.mp4
public/Regions_Slow_Cropped.mp4
public/VHS_Nostalgia_Russian_Region_Loop.mp4